@page "{id}"
@using ContosoCrafts.WebSite.Services
@inject JsonFileUserService ProductService


@model ContosoCrafts.WebSite.Pages.Product.ProfileModel

@{
    ViewData["Title"] = "Profile page";
}


<div class="content">
    <h5 class="title" id="user_id">Username: @Model.Product.user_id</h5>
    <h5 class="title" id="name">Name:@Model.Product.name.</h5>

</div>

<br />
<br />

<div class="row">
    <a asp-page="ProfileUpdate" asp-route-id="@Model.Product.username" class="btn btn-primary">Update</a>

	<a asp-page="ProfileBioUpdate" asp-route-id="@Model.Product.username" class="btn btn-primary">Update Bio</a>
	<a asp-page="ProfileGenderUpdate" asp-route-id="@Model.Product.username" class="btn btn-primary">Update Gender</a>
    <a asp-page="ProfileNameUpdate" asp-route-id="@Model.Product.username" class="btn btn-primary">Update Name</a>

</div>