@page "{id}"
@using ContosoCrafts.WebSite.Services

@inject JsonFileLocationService ProductService
@inject JsonFileLocationHoursService LocationHoursService
@inject JsonFileMeetupService MeetupService
@inject JsonFileUserService UserService

@model SquidMeet.WebSite.Pages.Group.MyGroupDetailModel
@{
    ViewData["Title"] = "MyGroupDetail page";
}

<main id="main" class="group-detail-main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="row group-detail-row">

                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>@Model.Meetup.Title</h3>
                    <p class="fst-italic">
                        @Model.Meetup.Description
                    </p>
                </div>

                <section id="contact" class="contact contact-bg">
                    <div class="container">

                        <div class="section-title">
                            <h3 class="detail-titel">Info</h3>
                        </div>
                        <div class="group-detail-content">

                            <div class="col-lg-12 detail-box">
                                <div class="info detail-info">
                                    <div class="address">
                                        <i class="bi bi-geo-alt"></i>
                                        <h4>Location:</h4>
                                        <p>@Model.Meetup.location</p>
                                    </div>

                                    <div class="email">
                                        <i class="bi bi-envelope"></i>
                                        <h4>Email:</h4>
                                        <p>squid@squid.com</p>
                                    </div>

                                    <div class="phone">
                                        <i class="bi bi-phone"></i>
                                        <h4>Call:</h4>
                                        <p>+1 5589 55488 55s</p>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <div class="col-lg-6 video-frame ">

                    <iframe width="1120"
                            height="590"
                            autoplay="true"
                            src="@Model.Meetup.Video"
                            frameborder="0"
                            allow='autoplay'
                            loop="true"
                            allowfullscreen></iframe>
                </div>

            </div>
    </section>
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact group-detail-contact">
        <div class="container">

            <div class="section-title group-detail-contact-title">
                <h3 class="detail-contact-h3">Info</h3>
                <h3 class="detail-contact-h3-right">Invite to Meetup</h3>
            </div>
            <div class="row detail-contact-row">

                <div class="col-lg-4 d-flex align-items-stretch">
                    <div class="info">

                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="col-lg-6 mt-5 mt-lg-0 d-flex align-items-stretch">
					<p> You are already registered for this event. To invite other people, send them the invitation link!
					</p>
					<b class="badge badge-light" style="font-size: 14px"> @Model.Meetup.InviteCode</b>
                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->
</main>

