@using ContosoCrafts.WebSite.Models
@using ContosoCrafts.WebSite.Services
@using Microsoft.AspNetCore.Components.Web
@inject JsonFileLocationService ProductService
@inject JsonFileLocationHoursService LocationHoursService
@inject JsonFileLocationTypeService LocationTypeService

<button @onclick="(e => sortingbyLocation())" class="btn btn-primary">
    Location Sorting
</button>
<button @onclick="(e => sortingbyRate())" class="btn btn-primary">
    Rate Sorting
</button>

<div class="card-columns">
       @{var dataset = ProductService.GetAllData();
           if (locationsorting == true) { dataset = ProductService.sortByLocation(); }
           if (ratesorting == true) { dataset = ProductService.sortByRate(); }

           foreach (var product in dataset)
           {
            <div class="card">
                <div class="card-img" style="background-image: url('@product.img');">
                </div>
                <div class="card-body">
                    <h5 class="card-title">@product.name</h5>
                </div>
                <div class="card-footer">
                    <small class="text-muted">
                        <button @onclick="(e => SelectProduct(product.location_id))"
                                data-toggle="modal" data-target="#productModal" class="btn btn-primary">
                            More Info
                        </button>
                    </small>
                </div>
            </div>
               }
           }
    </div>

@if (selectedProduct != null)
{
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="productTitle">@selectedProduct.name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-img" style="background-image: url('@selectedProduct.img');">
                        </div>
                        <div class="card-body">
                            <p class="card-text"> Address: @selectedProduct.address</p>
                            <p class="card-text"> Location Type: @selectedProductType.type_name</p>
                            <p class="card-text"> Location Hours:</p>
                            <p class="card-text"> Monday: @selectedProductHours.location_mon_hours</p>
                            <p class="card-text"> Tuesday: @selectedProductHours.location_tues_hours</p>
                            <p class="card-text"> Wednesday: @selectedProductHours.location_wed_hours</p>
                            <p class="card-text"> Thursday: @selectedProductHours.location_thurs_hours</p>
                            <p class="card-text"> Friday: @selectedProductHours.location_fri_hours</p>
                            <p class="card-text"> Saturday: @selectedProductHours.location_sat_hours</p>
                            <p class="card-text"> Sunday: @selectedProductHours.location_sun_hours</p>


                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    @if (voteCount == 0)
                    {
                        <span>Be the first to vote!</span>
                    }
                    else
                    {
                        <span>@voteCount @voteLabel</span>
                    }
                    @for (int i = 1; i < 6; i++)
                    {
                        var currentStar = i;
                        if (i <= currentRating)
                        {
                            <span class="fa fa-star checked" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                        else
                        {
                            <span class="fa fa-star" @onclick="(e => SubmitRating(currentStar))"></span>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@code
{
    LocationModel selectedProduct;
    string selectedProductId;
    string selectedProductTypeId;
    LocationHoursModel selectedProductHours;
    LocationTypeModel selectedProductType;
    Boolean locationsorting = false;
    Boolean ratesorting = false;
    void SelectProduct(string productId)
    {
        selectedProductId = productId;
        selectedProduct = ProductService.GetAllData().First(x => x.location_id == productId);
        GetCurrentRating();
        selectedProductTypeId = selectedProduct.type_id;
        selectedProductHours = LocationHoursService.GetLocationHours().First(x => x.location_hours_id == productId);
        selectedProductType = LocationTypeService.GetLocationTypes().First(x => x.type_id == selectedProductTypeId);
    }

    int currentRating = 0;
    int voteCount = 0;
    string voteLabel;

    void GetCurrentRating()
    {
        if (selectedProduct.rating == null)
        {
            currentRating = 0;
            voteCount = 0;
        }
        else
        {
            voteCount = selectedProduct.rating.Count();
            voteLabel = voteCount > 1 ? "Votes" : "Vote";
            currentRating = selectedProduct.rating.Sum() / voteCount;
        }

        System.Console.WriteLine($"Current rating for {selectedProduct.location_id}: {currentRating}");
    }

    void SubmitRating(int rating)
    {
        System.Console.WriteLine($"Rating received for {selectedProduct.location_id}: {rating}");
        ProductService.AddRating(selectedProductId, rating);
        SelectProduct(selectedProductId);
    }

    void sortingbyLocation()
    {
        locationsorting = true;
        ratesorting = false;

    }

    void sortingbyRate()
    {
        locationsorting = false;
        ratesorting = true;

    }
}
